fastapi
uvicorn[standard]
SQLAlchemy==2.0.21
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
psycopg2-binary
pydantic[email]
python-dotenv
httpx
pytest
pytest-asyncio
reportlab
email-validator
openpyxl
python-multipart
pywebpush
py-vapid
